*{
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(85, 85, 85);
}
.menu{
   display:flex;
   justify-content: space-around;
   margin-left: 40px;
}
.lista{
    display:flex;
    list-style: none;
    position: absolute;
    width: 100%;
    background-color: #636363;
    padding:10px 30px;
}
.item-lista{
    position: relative;
    padding: 0 20px;
}
.item-lista:hover{
    color:cyan;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.item-lista a{
    text-decoration: none;
    font-size: 22px;
    color:#fff;
}
.icone-menu{
    font-size:22px;
    padding-left:10px;
    color:#fff;
}
.side-bar{
    background-color: rgb(99, 99, 99);
    width: 100%;
    max-width: 300px;
    height: auto;
    position: absolute;
    border:2px solid rgba(97, 97, 97, 0.521);
    border-radius:15px;
    box-shadow: 3px 5px 5px rgb(71, 71, 71);
    top:20%;
    left:10%;
    transform: translate(-10%,-20%);
}
.side-bar > h2{
    text-align: center;
    color:#fff;
    padding:20px;
    text-shadow: 3px 3px 2px #4e4e4e;
}
.item-habilidade{
    display:flex;
    justify-content: center;
    padding:10px;
}
.item-habilidade:hover{
    transform:scale(1.2);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.item-habilidade > .icone{
    color:#fff;
    font-size: 22px;
    padding: 0px 5px;
    text-shadow: 2px 3px rgba(73, 73, 73, 0.568);
}
.item-habilidade > .habilidade{
    font-size: 20px;
    color:#fff;
    text-shadow: 2px 3px rgba(73, 73, 73, 0.568);
}
.sobre{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding:20px;
    border-radius:15px;
    background-color: rgb(99, 99, 99);
    box-shadow: 3px 5px 5px rgb(71, 71, 71);
    position: absolute;
    top:20%;
    right:10%;
    transform: translate(-10%,-20%);
}
.sobre > .text{
    position:relative;
    color:#fff;
    width: 80%;
    font-size: 22px;
    padding-top:10px;
}
.text > .text-importante{
    color:cyan;
}
.rodape{
    position:absolute;
    background-color: rgba(46, 46, 46, 0.418);
    bottom:0;
    width: 100%;
    padding:20px;
    color:#fff;
    text-align: center;
}